@import "../../../styles/tokens.less";

.after-sale-list-page {
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background: @color-page;
}

.after-sale-list-content {
  height: 0;
  min-height: 0;
  display: block;
  flex: 1;
}
